<section id="pay-section">
  <div id="container01" class="container">
    <div class="inner">
      <div id="table01" class="table-wrapper">
        <div class="table-inner">
          <table>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
              </tr>
              <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td>0</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr id="divider01">
      <ul id="buttons05" class="buttons">
        <li>
          <a href="#token" class="button n01">PAY NOW</a>
        </li>
      </ul>
    </div>
  </div>
</section>
