<section id="securitycode-section">
  <h2 id="text03">SECURITY CODE</h2>
  <form enctype="multipart/form-data" id="form01" method="post" action="#">
    <div class="inner">
      <div class="field">
        <input type="text" name="sixdigitcode" id="form01-sixdigitcode" placeholder="Enter it here..." maxlength="128" required />
      </div>
      <div class="actions">
        <button type="submit">SUBMIT</button>
      </div>
    </div>
    <input type="hidden" name="id" value="form01" />
  </form>

  <p id="text13">Didn&#39;t receive a code? <strong><a href="https://tangopay/carrd.co/#signup">Sign up!</a></strong></p>
</section>
