<section id="signup-section">
  <h2 id="text07">SIGN UP</h2>
  <form enctype="multipart/form-data" id="form02" method="post" action="#">
    <div class="inner">
      <div class="field">
        <input type="text" name="subscriberfullname" id="form02-subscriberfullname" placeholder="Full Name" maxlength="128" required />
      </div>
      <div class="field">
        <input type="text" name="subscriberemailaddress" id="form02-subscriberemailaddress" placeholder="Your Email" maxlength="128" required />
      </div>
      <div class="field">
        <input type="text" name="subscribercellnumber" id="form02-subscribercellnumber" placeholder="Your 10-Digit Cell Phone Number" maxlength="128" required />
      </div>
      <div class="actions">
        <button type="submit">SIGN UP</button>
      </div>
    </div>
    <input type="hidden" name="id" value="form02" />
  </form>

  <p id="text12">Already have an account? <strong><a href="https://tangopay/carrd.co/#one">Sign in!</a></strong></p>
</section>
