<section id="tango-section">
  <p id="text08">CODE WILL EXPIRE IN <span style="color: red">60</span> SECONDS</p>
  <div id="container02" class="container full screen">
    <div class="inner">
      <p id="text01"><strong>TAP</strong></p>
      <div id="image01" class="image">
        <a href="#one" class="deferred"><img src="assets/images/_image01.png" data-src="assets/images/image01.gif" alt="" /></a>
      </div>
    </div>
  </div>
  <div id="container05" class="container full screen">
    <div class="inner">
      <p id="text05"><strong>SCAN</strong></p>
      <div id="image02" class="image">
        <img src="assets/images/image02.jpg" alt="" />
      </div>
    </div>
  </div>
  <div id="container04" class="container full screen">
    <div class="inner">
      <p id="text11">or <strong>text</strong> <strong><span style="color: purple">PAYME</span></strong> to 87877</p>
    </div>
  </div>
  <ul id="icons02" class="icons">
    <li>
      <a class="n01" href="#signin">
        <svg><use xlink:href="assets/icons.svg#arrow-left"></use></svg>
        <span class="label">Left Arrow</span>
      </a>
    </li><li>
      <a class="n02" href="#expired">
        <svg><use xlink:href="assets/icons.svg#arrow-right"></use></svg>
        <span class="label">Right Arrow</span>
      </a>
    </li>
  </ul>
</section>
