<section id="token-section">
  <h1 id="text02"><strong>$5</strong></h1>
  <div id="image04" class="image">
    <img src="assets/images/image04.png" alt="" />
  </div>
  <ul id="buttons03" class="buttons">
    <li>
      <a href="#tango" class="button n01">YES, GENERATE PAYMENT TOKEN</a>
    </li>
  </ul>
  <ul id="buttons01" class="buttons">
    <li>
      <a href="#home" class="button n01">CANCEL</a>
    </li>
  </ul>
  <ul id="icons04" class="icons">
    <li>
      <a class="n01" href="#pay">
        <svg><use xlink:href="assets/icons.svg#arrow-left"></use></svg>
        <span class="label">Left Arrow</span>
      </a>
    </li>
  </ul>
</section>
