<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Tangopay</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="Tangopay" />
		<link href="https://fonts.googleapis.com/css?family=Raleway:900,900italic,300,300italic,400,400italic,700,700italic%7CQuicksand:300,300italic,400,400italic%7CRoboto:400,400italic,700,700italic%7CSource+Sans+Pro:200,200italic,400,400italic" rel="stylesheet" type="text/css" />
		<link rel="icon" type="image/png" href="assets/images/favicon.png" />
		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png" />
		<link rel="stylesheet" href="assets/main.css" />
		<noscript><link rel="stylesheet" href="assets/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
	  <div id="wrapper">
	    <div id="main">
	      <div class="inner">
          	<section id="token-section">
              <h1 id="text02"><strong>$5</strong></h1>
              <div id="image04" class="image">
                <img src="assets/images/image04.png" alt="" />
              </div>
              <ul id="buttons03" class="buttons">
                <li>
                  <a href="#tango" class="button n01">YES, GENERATE PAYMENT TOKEN</a>
                </li>
              </ul>
              <ul id="buttons01" class="buttons">
                <li>
                  <a href="#home" class="button n01">CANCEL</a>
                </li>
              </ul>
              <ul id="icons04" class="icons">
                <li>
                  <a class="n01" href="#pay">
                    <svg><use xlink:href="assets/icons.svg#arrow-left"></use></svg>
                    <span class="label">Left Arrow</span>
                  </a>
                </li>
              </ul>
            </section>
	      <div>
            <div>
          <div>
        </body>
<html>
